{% extends "pollution_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid mt-4 mx-4">
    <div class="row">
        <div class="col-sm-4">
            <h4> Update today's pollution status </h4>
            <form action="" method="post" autocomplete="off">
                {%csrf_token%}
                {{form|crispy}}
                <button type="submit" , class="btn btn-success mt-4">Submit</button>
                <a href="{% url 'air_quality_table' %}" class="btn btn-info mt-4">View data</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}