{% extends 'front_end/homepagebase.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row text-center justify-content-center">
        <div class="col-md-11">
            <h1 class="mb-4">Small team. <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate">Big hearts.</mark></h1>
            <p class="mb-9 lead">
                Our focus is always on finding the best people to work with. Our bar is  <br>
                high, but you look ready to take on the challenge.
            </p>
            <div class="form-row">
                <div class="col-4">
                    <img src="https://via.placeholder.com/387x470/FF0000/000000" class="img-fluid rounded shadow-lg transition-hover" alt="...">
                </div>
                <div class="col-3">
                    <img src="https://via.placeholder.com/470x424/8A2BE2/000000" class="img-fluid rounded shadow-lg mb-2 transition-hover" alt="...">
                    <img src="https://via.placeholder.com/470x318/5F9EA0/000000" class="img-fluid rounded shadow-lg mt-2 transition-hover" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}